body {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255); 
  font-family: Arial, Helvetica, sans-serif;
}

p {
  color: rgb(255, 255, 255); 
  font-size: medium;
}


#main_modality_container_div {
  width: 100%;
}
.img {
  width: 100%;
}

.moveable {
  
  list-style: none;
  padding: 0;
  margin: 0 40%;
}
.moveable li {
  margin: 1px;
  padding: 15px;
  border: 1px solid #dfdfdf;
  background: #333333;

}

/* (B) DRAG-AND-DROP HINT */
.moveable li.hint {
  border: 1px solid #dfdfdf;
  background: #494949;
}

.moveable li.active {
  border: 1px solid #dfdfdf;
  background:  #7c6767;
}

.final_button {
  background-color: aquamarine; 
  display: inline-block;
  font-size: 32px;
  display: flex;
  justify-content: center; 
}

.bottom_container {
text-align:center;
}
